<div class="card">
  <ng-content></ng-content>
  <div class="card-body">
    <h5 class="card-title text-muted">
      {{ title }}
    </h5>
    <p class="card-text">
      {{ description }}
    </p>
    <div class="card-text mt-5">
      <small class="text-muted">{{ infoFooter }}</small>
    </div>
  </div>
  <div class="card-footer">
    <div class="text-center mb-3 mt-3 text-muted">
      <i aria-hidden="true" class="fa fa-envelope-o"></i>
      <i aria-hidden="true" class="fa fa-heart-o ms-3"></i>
    </div>
  </div>
</div>
